body {
    background-color: #5c6767;
}

.notebook-container {
    min-height: 100vh;
    width: 95vw;
    max-width: 1400px;
    margin: auto;
    padding-left: 180px;
    background-image: url("../images/notebook-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.notebook-container header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook-container header h1 {
    font-size: 40px;
}

.notebook-container header .pokeball {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}