body {
    background-color: var(--background-color);
}

.notebook-container {
    min-height: 100vh;
    width: 95vw;
    max-width: 1400px;
    margin: auto;
    padding-left: 190px;
    background-image: url("../assets/images/notebook-black-page-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notebook-container header {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook-container header h1 {
    font-size: 40px;
    color: var(--header-title-font-color);
}

.notebook-container header .pokeball {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}