@keyframes moveUp {
    0% {
        top: 110px;
    }
    100% {
        top: 60px;
    }
}

@keyframes moveDown {
    0% {
        top: 60px;
    }
    100% {
        top: 110px;
    }
}

#toggler.up-animation {
    animation: moveUp 1s forwards;
}

#toggler.down-animation {
    animation: moveDown 1s forwards;
}